data/meters/raw/electricity.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/Akshay/Desktop/building-energy-anomaly-detection/results/anomaly_dectection_results.csv filter=lfs diff=lfs merge=lfs -text
